@{
    Layout = "/EmailTemplate/Shared/_layout.cshtml";
}


<tr>
    <td align="center">
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="blue-button text-button" style="background:#66c7ff; color:#c1cddc; font-family:'Muli', Arial,sans-serif; font-size:14px; line-height:18px; padding:12px 30px; text-align:center; border-radius:0px 22px 22px 22px; font-weight:bold;">
                    <p style="color:white">
                        You have been invited to register on LawPavilion CourtManager.
                        <br>
                        To continue using the platform, click <a href="@Model.Link" target="_blank" class="link-white" style="color:blue; text-decoration:none;">
                            <span class="link-white" style="color:#ffffff; text-decoration:none;">HERE</span>
                        </a>
                        to confirm your email.
                    </p>
                </td>
            </tr>
        </table>
    </td>
</tr>
