@{
    Layout = "/EmailTemplate/Shared/_layout.cshtml";
}

<tr>
    <td align="center" valign="top" style="background-color:#e5e5e5; padding-left:20px;padding-right:20px;"
        class="containtTable ui-sortable">
        <table border="0" cellpadding="0" cellspacing="0" width="100%"
               class="tableTitleDescription">
            <tbody>
                <tr>
                    <td align="center" valign="top" style="padding-bottom:10px;" class="mediumTitle">
                        <!-- Medium Title Text // -->
                        <p class="text"
                           style="color:#666666; font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:14px; font-weight:400; font-style:normal; letter-spacing:normal; line-height:26px; text-transform:none; text-align:left; padding:0; margin-bottom: 1rem">
                            Hi @Model.FirstName @Model.LastName,
                        </p>
                    </td>
                </tr>

                <tr>
                    <td align="center" valign="top" style="padding-bottom:20px;" class="description">
                        <!-- Description Text// -->
                        <p class="text"
                           style="color:#666666; font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:14px; font-weight:400; font-style:normal; letter-spacing:normal; line-height:22px; text-transform:none; text-align:left; padding:0; margin:0">
                            Please be informed that LPPC has assigned an application to you for review.
                            Kindly click on the button below to login into your account.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>

        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="tableButton">
            <tbody>
                <tr>
                    <td valign="top" style="padding-top:20px;padding-bottom:20px;">

                        <!-- Button Table // -->
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td class="ctaButton"
                                        style="background-color:#ff5500;padding-top:8px;padding-bottom:8px;padding-left:20px;padding-right:20px;border-radius:8px">
                                        <!-- Button Link // -->
                                        <a class="text" href="@Model.Url" target="_blank"
                                           style="color:#FFFFFF; font-family:'Poppins', Helvetica, Arial, sans-serif; font-size:13px; font-weight:600; font-style:normal;letter-spacing:1px; line-height:20px; text-transform:uppercase; text-decoration:none; display:block">
                                            Click here to login
                                        </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>

    <table border="0" cellpadding="0" cellspacing="0" width="100%"
           class="tableTitleDescription">
        <tbody>
            <tr>
                <td align="center" valign="top" style="padding-bottom:10px;" class="mediumTitle">
                    <!-- Medium Title Text // -->
                                            <p class="text"
                                               style="color:#666666; font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:14px; font-weight:400; font-style:normal; letter-spacing:normal; line-height:26px; text-transform:none; text-align:left; padding:0; margin-bottom: 1rem">
                                                <!--Seat back and complete your SAN application with just few clicks.-->
                                            </p>
</td>
                </tr>

                <tr>
                    <td align="center" valign="top" style="padding-bottom:20px;" class="description">
                        <!-- Description Text// -->
                        <p class="text"
                           style="color:#666666; font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:14px; font-weight:400; font-style:normal; letter-spacing:normal; line-height:22px; text-transform:none; text-align:left; padding:0; margin:0">
                            Powered by <br>
                            LawPavilion
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>

    </td>
</tr>