@{
    Layout = "/EmailTemplate/Shared/_layout.cshtml";
}

<tr>
    <td align="center" valign="top" style="background-color:#e5e5e5; padding-left:20px;padding-right:20px;"
        class="containtTable ui-sortable">
        <table border="0" cellpadding="0" cellspacing="0" width="100%"
               class="tableTitleDescription">
            <tbody>
                <tr>
                    <td align="center" valign="top" style="padding-bottom:10px;" class="mediumTitle">
                        <p class="text"
                           style="color:#666666; font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:14px; font-weight:400; font-style:normal; letter-spacing:normal; line-height:26px; text-transform:none; text-align:left; padding:0; margin-bottom: 1rem">
                            Dear @Model.FirstName @Model.LastName,
                        </p>
                    </td>
                </tr>

                <tr>
                    <td align="center" valign="top" style="padding-bottom:20px;" class="description">
                        <p class="text"
                           style="color:#666666; font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:14px; font-weight:400; font-style:normal; letter-spacing:normal; line-height:22px; text-transform:none; text-align:left; padding:0; margin:0">
                            The upload of payment receipt for SAN application was successful and is pending confirmation.<br./>
                            A mail would be sent to you once it has been confirmed and then you can start the registration process.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>

        <table border="0" cellpadding="0" cellspacing="0" width="100%"
               class="tableTitleDescription">
            <tbody>
                <tr>
                    <td align="center" valign="top" style="padding-bottom:20px;" class="description">
                        <p class="text"
                           style="color:#666666; font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:14px; font-weight:400; font-style:normal; letter-spacing:normal; line-height:22px; text-transform:none; text-align:left; padding:0; margin:0">
                            Powered by <br>
                            LPPC Online
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>

    </td>
</tr>