@* @{
    Layout = "/EmailTemplate/Shared/_layout.cshtml";
} *@

<tr>
    <td align="center" valign="top" style="background-color:#e5e5e5; padding-left:20px;padding-right:20px;"
        class="containtTable ui-sortable">
        <table border="0" cellpadding="0" cellspacing="0" width="100%"
               class="tableTitleDescription">
            <tbody>
                <tr>
                    <td align="center" valign="top" style="padding-bottom:10px;" class="mediumTitle">
                        <p class="text"
                           style="color:#666666; font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:14px; font-weight:400; font-style:normal; letter-spacing:normal; line-height:26px; text-transform:none; text-align:left; padding:0; margin-bottom: 1rem">
                            Dear @Model.FirstName
                        </p>
                    </td>
                </tr>

                <tr>
                    <td align="center" valign="top" style="padding-bottom:20px;" class="description">
                        <p class="text"
                           style="color:#666666; font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:14px; font-weight:400; font-style:normal; letter-spacing:normal; line-height:22px; text-transform:none; text-align:left; padding:0; margin:0">
                            Be reminded about the upcoming deadline for the Task <b>@Model.Body</b>.
                            <br />
                            The Deadline is : <b>@Model.ReminderDate</b> by <b>@Model.ReminderTime</b>
                            <br />
                            Please make sure to complete the Task before the deadline to ensure everything stays on track.
                        </p>
                    </td>
                </tr>

                <tr>
                    <td align="center" valign="top" style="padding-bottom:20px;" class="description">
                        <p class="text"
                           style="color:#666666; font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:14px; font-weight:400; font-style:normal; letter-spacing:normal; line-height:22px; text-transform:none; text-align:left; padding:0; margin:0">
                            Best Regards.
                            <br />
                            SPAM-System
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>

        <table border="0" cellpadding="0" cellspacing="0" width="100%"
               class="tableTitleDescription">
            <tbody>

                <tr>
                    <td align="center" valign="top" style="padding-bottom:20px;" class="description">
                        <p class="text"
                           style="color:#666666; font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:14px; font-weight:400; font-style:normal; letter-spacing:normal; line-height:22px; text-transform:none; text-align:left; padding:0; margin:0">
                            Powered by <br>
                            Sono
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>

    </td>
</tr>